# Local development - point the frontend at your local services
# If running via Docker, VITE_NODE_API should point to localhost:5000 and the Python APIs to localhost:8123
VITE_NODE_API=http://127.0.0.1:5000
VITE_GRAPH_API_URL=http://127.0.0.1:8123/segment-and-graph
VITE_GRAPH_LAS=http://127.0.0.1:8123/generate-las-base64
VITE_GRAPH_GUIDED_TRACK=http://127.0.0.1:8123/guided-curve-track
